<div class="card">
                        {{#if isOwner}}
                            <button>Edit Post</button>
                        {{/if}}
                        
                <p class="blog-title"><a href="/post/{{id}}">{{post_title}}</a></p>
                <p class="spacing">{{format_date date_created}}</p>
                <p class="posted-by spacing">By: {{user.name}}</p>
    
                <p>{{post_content}}</p>
                <div class="interaction-bar">
                    <button class="view-comment-btn" id="{{id}}"> 
                        View Comments
                    </button>
                
                </div>


                  <div class="comment-section" id="comment-section">
                        <div>
                            <input class="create-comment" id="comment_{{id}}" type="text" placeholder="Create your own comment" />
                            <button type="button" class="new-comment-button" id="comment_button_{{id}}">Create</button>
                        </div>
                        

                        <div class="loaded-comments-container">
                        
                                {{#each comments as |comment|}}
                                    <p class="loaded-comments">{{format_date comment.date_created}} {{user.name}}: {{comment.text}}</p>
                                {{/each}}                            
                        </div>

                        
        
                  </div>
</div>
